<a href="https://colab.research.google.com/github/gilbastidas/essential-algorithms-exercises/blob/main/essential_algorithms_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1
## Exercise 1. 
What is the run time of this new version?

**Ans:** N**2 

(Page 52).

In [ ]:
# Loop over all of the array's items except the last one.
largest_index = [10, 20, 30, 40, 50]

for i in range(0, len(largest_index)-1): # N
  # Loop over the items after item i 
  for j in range(i+1, len(largest_index)): # N-1 + N-2 + ... + 1
    print(f"Comparing {largest_index[i]} and {largest_index[j]}")
    if (largest_index[i] == largest_index[j]):
      print(True)
print(False)

Comparing 10 and 20
Comparing 10 and 30
Comparing 10 and 40
Comparing 10 and 50
Comparing 20 and 30
Comparing 20 and 40
Comparing 20 and 50
Comparing 30 and 40
Comparing 30 and 50
Comparing 40 and 50
False

## Exercise 2
Make a table showing the largest problem size N that this computer could execute for each of the functions listed in Table 1.1 in one second, minute, hour, day, week, and year.

(Page 52).

In [19]:
import pandas as pd
import numpy as np
import math

# initialize data of lists.
data = {'n': [1, 5, 10, 15, 20, 50, 100, 1000, 10000, 100000]}

# Create DataFrame
function_table = pd.DataFrame(data)

# Print the output.
function_table

        n
0       1
1       5
2      10
3      15
4      20
5      50
6     100
7    1000
8   10000
9  100000

In [22]:
function_table["log_n"] = np.log2(function_table['n'])
function_table["sqrt_n"] = np.sqrt(function_table['n'])
function_table["n_square"] = np.square(function_table['n'])
function_table["2_n"] = np.power(2, function_table['n'])
function_table["n_f"] = np.math.factorial(function_table['n'].astype(float))
function_table

TypeError: ignored